@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root{
    --primary-color:#10B981;
    --secondary-color:#1F2937;
    --white: #ffffff;
    --secondary-dark:#111827;
    --shadow-color:  #07f7ff;
}
html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--secondary-color);
    color: var(--white);
}

a{
    text-decoration: none;
    color: var(--white);
    letter-spacing: 1.2px;
}
.primary-link{
    display: flex;
    justify-content: center;
    margin: 0.5rem 0.2rem;
    padding: 15px;
    border-radius: 50px;
    background-color: var(--primary-color);
    box-shadow: 0px 0px 0px var(--shadow-color);
    transition: all 0.5s; 
}
.primary-link:hover{
    box-shadow: 0px 0px 8px var(--shadow-color);
}
.secondary-link{
    display: flex;
    justify-content: center;
    margin: 0.5rem 0.2rem;
    padding: 15px;
    border-radius: 50px;
    border: 1px solid var(--primary-color);
    transition: all 0.8s; 
}
.secondary-link:hover{
    background-color: var(--primary-color);
    box-shadow: 0px 0px 8px var(--shadow-color);
}
nav{
    background-color: var(--primary-color);
    border-bottom-left-radius: 1.5rem;
    position: fixed;
    top: 0;
    width: 100%;
}
.nav-brand{
    margin: 0;
    padding: 1rem;
    font-weight: bold;
    text-align: left;
    color: var(--white);
}
.list-inline{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px;
    padding-left: 0px;
}
fieldset{
    border-color: var(--primary-color);
    max-width: 900px;
    margin: 3rem auto;
}
fieldset legend{
    font-size: 2rem;
    color: var(--primary-color)
}

fieldset li{
    margin: 10px 20px;
    width: calc(33% - 40px);
}

.padding-left{
    padding-left: 60px;
    padding-bottom: 20px;
}
.active{
    font-weight: bold;
}

.banner{
    width: 100%;
    max-width: 900px;
    text-align: center;
    margin: 100px auto 30px;
    padding: 30px 0px;
}

.banner-img{
    margin: 2rem;
    width: 80%;
}

h1{
    text-align: center;
    margin: 1rem;
}

.banner p{
    text-align: center;
    margin: 0px;
    font-size: 1.2rem;
    max-width: 95%;
    margin: auto;
}
.banner p span{
    color: var(--primary-color);
}


.container{
    padding: 5px 15px;
}

section:nth-child(2n){
    background-color: var(--secondary-dark)
}

.project-wrapper{
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--primary-color);
}
.project-wrapper:last-child{
    border: none;
}
.project-details-wrapper{
    width: 80%;
    margin: auto;
}
.thumbnail{
    border-radius: 5px;
    box-shadow: 0px 0px 10px var(--shadow-color);
    width: 80%;
}

footer{
    background-color: var(--primary-color);
    border-top-right-radius: 1.5rem;
    padding: 20px 0 40px 0;
}

@media screen and (min-width: 900px) {
    .project-wrapper:nth-child(odd){
        flex-direction: row;
        justify-content: center;
    }
    .project-wrapper:nth-child(even){
        flex-direction: row-reverse;
        justify-content: center;

    }
    .thumbnail{
        width: 50%;
        margin: 15px;
    }
    .project-details-wrapper{
        margin: 15px;
    }
    .primary-link{
        display:inline-block;
        margin: 0px 40px
    }
    .secondary-link{
        display: inline-block;
    }
  }